@page
@model NewMenuPizza.Pages.Kontrolpanel.Sandwich.SletSandwich

@{
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<h1>Slet drikkervarer fra menukort</h1>
<form method="post">
    <div class="form-group>">
        <label>Drikkevarer Nummer</label><br/>
        <input class="form-control" asp-for="@Model.SletSandwichNummer"/><br/>

        <input type="submit" value="Slet drikkevarer" class="btn btn-danger"/>
    </div>
</form>
</body>
</html>