@page
@model NewMenuPizza.Pages.Kontrolpanel.Drikkevarer.NyDrikkevarer

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<h1>Opret ny drikkevarer</h1>
<form method="post">
    <div class="form-group>">
        <label>Drikkevarer navn</label><br/>
        <input class="form-control" asp-for="@Model.NytDrikkevarerNavn"/><br/>

        <label>Drikkevarer pris</label><br/>
        <input class="form-control" asp-for="@Model.NytDrikkevarerPris"/><br/>

        <input type="submit" value="Opret ny drikkevarer" class="btn btn-success"/>
    </div>
</form>
</body>
</html>