@page
@using NewMenuPizza.DrikkevarerFolder
@using NewMenuPizza.PizzaFolderTest
@using NewMenuPizza.Services
@using NewMenuPizza.SandwichFolder
@model NewMenuPizza.Pages.Menu.Index

@{
    ViewData["Title"] = "Menu";
}

<h1>Menukort</h1>
<h2>Menu</h2>
<form method="post" asp-page-handler="FindObjekt">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nummer</th>
                <th>Navn</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MenuItem d in Model.MenuItems)
            {
                <tr>
                    <td>@d.Nummer</td>
                    <td>@d.Navn</td>
                    <td>@d.Pris kr.</td>
                    <td>
                        <form method="post" asp-page-handler="TilføjTilKurv">
                            <input type="hidden" name="itemId" value="@d.Nummer"/>
                            <input type="submit" value="Tilføj" class="btn btn-success"/>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<form method="post" asp-page-handler="GåTilKurv">
    <input type="submit" value="Gå til kurv" class="btn btn-success">
</form>