@page
@using NewMenuPizza.Kunder
@model NewMenuPizza.Pages.Kontrolpanel.Index

@{
    ViewData["Title"] = "Menu";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <style>
      
      * {
        box-sizing: border-box;
      }
      
      .row {
        display: flex;
      }
        
      .column {
        flex: 50%; 
        padding: 10px;
      }
      
      h1 {
        text-align: center;
      }
      
      .btn {
        width: 500px;
        height: 50px;
      }
      
      </style>
</head>
<body>
<h1>Kontrolpanel</h1>
<div class="row">
    <div class="column">
        <h2>Funktioner</h2>
        <h3><i>Pizza</i></h3>
            <a asp-page="Pizza/NyPizza">
                <button type="button" class="btn btn-outline-dark">Opret ny pizza</button>
            </a>
            <a asp-page="Pizza/SletPizza">
                <button type="button" class="btn btn-outline-dark"> Slet pizza</button>
            </a>
            <a asp-page="Pizza/ÆndrePizza">
                <button type="button" class="btn btn-outline-dark"> Opdater Pizza</button>
            </a>

        <h3><i>Sandwich</i></h3>
        <button type="button" class="btn btn-outline-dark">Opret ny sandwich</button><br />
        <button type="button" class="btn btn-outline-dark">Slet sandwich</button><br />
        <button type="button" class="btn btn-outline-dark">Opdater sandwich</button><br /><br/>

        <h3><i>Drikkevarer</i></h3>
        <a asp-page="Drikkevarer/NyDrikkevarer" class="btn btn-outline-dark" role="button" aria-pressed="true">Opret ny drikkevarer</a>
        <a asp-page="Drikkevarer/SletDrikkevarer" class="btn btn-outline-dark" role="button" aria-pressed="true">Slet drikkevarer</a>
        <a asp-page="Drikkevarer/OpdaterDrikkevarer" class="btn btn-outline-dark" role="button" aria-pressed="true">Opdater drikkevarer</a>
    </div>
    
    <div class="column">
        <h2>Kunder</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Kunde Nummer</th>
                <th>Navn</th>
                <th>Telefon</th>
            </tr>
            </thead>
            <tbody>
            @foreach (Kunde k in Model.kunders)
            {
                <tr>
                    <td>@k.KundeNummer</td>
                    <td>@k.Navn</td>
                    <td>@k.Tlf</td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>
</body>
</html>