@page
@model NewMenuPizza.Pages.Kontrolpanel.Pizza.ÆndrePizzaModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <title>Ændre Pizza</title>
</head>
<body>
    <h1>Ændre Pizza</h1>
    <form method="post" asp-page-handler="LoadPizzaer">
        <div class="form-group">
            <label for="PizzaNummer">Pizza Nummer</label>
            <input type="text" id="PizzaNavn" class="form-control" asp-for="ÆndrePizzaNummer" />
            <input type="submit" value="Hent Pizza" class="btn btn-primary" />
        </div>
    </form>

    @if (Model.NummerDeaktiveret)
    {
        <form method="post" asp-page-handler="ChangePizzaer">
            <div class="form-group">

                <input type="hidden" asp-for="ÆndrePizzaNummer" />

                <label for="PizzaNavn">Pizza navn</label>
                <input type="text" id="PizzaNavn" class="form-control" asp-for="ÆndrePizzaNavn" />

                <label for="PizzaPris">Pizza pris</label>
                <input type="text" id="PizzaPris" class="form-control" asp-for="ÆndrePizzaPris" />

                <input type="submit" value="Opdater Pizza" class="btn btn-primary" />
            </div>
        </form>
    }
</body>
</html>
    