@page
@model NewMenuPizza.Pages.Kontrolpanel.Pizza.SletPizzaModel
@{
}


<form method="post">
    <div class="form-group>">
        <label>Navn</label><br />
        <input class="form-control" asp-for="@Model.SletPizza" /><br />
     
        
        <input type="submit" value="Slet Pizza" class="btn btn-success" />
</form>