@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sebastian's pizzaria! mamma mia!</h1>
    <h2>Taste the difference, from a real italian stone oven</h2>
    <p>Taste our <a href="https://docs.microsoft.com/aspnet/core">Best pizzas in the city!</a>.</p>
    
</div>