@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:white;" font-weight: bold;> Welcome to Sebastian's pizzaria! mamma mia!</h1>
    <h4 style="color:white;">Taste the difference, from a real italian stone oven</h4>
    <p style="color:white;">Taste our <a href="/Menu/Index">Best pizzas in the city!</a>.</p>

</div>

<!DOCTYPE html>
<html>
<head>
    <style>
body 
{
  background: url(https://static.vecteezy.com/system/resources/previews/024/745/083/large_2x/freshly-baked-pizza-on-rustic-wood-burning-stove-a-gourmet-delight-generated-by-ai-free-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
</head>
<body>

</body>
</html>